{% extends "jobs/base.html" %}
{% block content %}

<h1 class="text-3xl font-bold mb-6">Applications</h1>

<div class="bg-white shadow rounded-xl overflow-x-auto">
    <table class="w-full text-sm">
        <thead class="bg-gray-100 text-left">
            <tr>
                <th class="p-4">Applicant</th>
                <th class="p-4">Job</th>
                <th class="p-4">Applied On</th>
                <th class="p-4">Status</th>
                <th class="p-4">Action</th>
            </tr>
        </thead>

        <tbody>
        {% for app in applications %}
            <tr class="border-t">
                <td class="p-4">
                    <div class="font-medium">{{ app.full_name }}</div>
                    <div class="text-gray-500">{{ app.email }}</div>
                </td>

                <td class="p-4">{{ app.job.title }}</td>

                <td class="p-4">
                    {{ app.applied_at|date:"d M Y, H:i" }}
                </td>

                <td class="p-4">
                    <span class="px-3 py-1 rounded text-white
                        {% if app.status == 'applied' %}bg-gray-500{% endif %}
                        {% if app.status == 'reviewing' %}bg-blue-500{% endif %}
                        {% if app.status == 'shortlisted' %}bg-yellow-500{% endif %}
                        {% if app.status == 'selected' %}bg-green-600{% endif %}
                        {% if app.status == 'rejected' %}bg-red-600{% endif %}
                    ">
                        {{ app.get_status_display }}
                    </span>
                </td>

                <td class="p-4 space-x-2">
                    <a href="{% url 'update_application_status' app.id 'reviewing' %}"
                       class="px-3 py-1 bg-blue-600 text-white rounded text-xs">
                        Review
                    </a>

                    <a href="{% url 'update_application_status' app.id 'selected' %}"
                       class="px-3 py-1 bg-green-600 text-white rounded text-xs">
                        Approve
                    </a>

                    <a href="{% url 'update_application_status' app.id 'rejected' %}"
                       class="px-3 py-1 bg-red-600 text-white rounded text-xs">
                        Reject
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5" class="p-6 text-center text-gray-500">
                    No applications found
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    
</div>
<div class="mt-4">
    <a href="{% url 'admin_dashboard' %}" class="px-4 py-2 bg-indigo-800 text-white rounded-lg hover:bg-indigo-700">
                    Back to Dashboard
                </a>
                </div>

{% endblock %}
